{% extends "layout.html" %}
{% block title %}Registro de usuarios{% endblock %}
{% block content %}
<h1>Datos Objeto</h1>
<form action="" method="post">
    <div class="form-group form-group-lg">
        {{ form.Nombre.label }} {{ form.Nombre(class_="form-control", placeholder_="Nombre") }}
        {% for error in form.Nombre.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <!--<div class="form-group form-group-lg">
        {{ form.Genero.label }} {{form.Genero(list_="id_datalist", class_="form-control", placeholder_="Seleccionar")}}
        <datalist id="id_datalist">
            {% for entry in entries %}
            <option value={{ Femenino }}>
            <option value={{ Masculino }}>
            {% endfor %}
        </datalist>
    </div>-->
    <div class="form-group form-group-lg">
        {{ form.Email.label }} {{ form.Email(class_="form-control", placeholder_="E-mail") }}
        {% for error in form.Email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <hr />
    {{ form.hidden_tag() }}
    <input type="submit" value="Enviar" title="Enviar" class="btn btn-success">
</form>
{% endblock %}