{% extends "layout.html" %}
{% block title %}Registro de usuarios{% endblock %}
{% block content %}
<h1>Datos</h1>
<form action="" method="post">
    <div class="form-group form-group-lg">
        <label for="nombre">Nombre</label>
        <input for="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control">
    </div>
    <div class="form-group form-group-lg">
        <label for="genero">Genero</label>
        <input class="form-control" name="genero" list="datalistOptions" id="genero" placeholder="Seleccionar">
        <datalist id="datalistOptions">
            <option value="Femenino">
            <option value="Masculino">
        </datalist>
    </div>
    <div class="form-group form-group-lg">
        <label for="correo">E-Mail</label>
        <input for="text" name="correo" id="correo" placeholder="E-Mail" class="form-control">
    </div>

    <hr />
    <input type="submit" value="Enviar" title="Enviar" class="btn btn-success">
</form>
{% endblock %}